body {
  overflow-x: hidden;
}

[data-aos] {
  transition-timing-function: ease-in-out;
  transition-property: opacity, transform;
  transition-duration: 500ms;
}

@for $i from 1 through 60 {
  &[data-aos][data-aos-duration='#{$i * 50}'] {
    transition-duration: #{$i * 50}ms;
  }

  &[data-aos][data-aos-delay='#{$i * 50}'] {
    transition-delay: #{$i * 50}ms;
  }
}

[data-aos="slide-up"] {
  &:not(.loaded) {
    transform: translate3d(0, 150px, 0);
  }
}

[data-aos="slide-right"] {
  &:not(.loaded) {
    transform: translate3d(-150px, 0, 0);
  }
}

[data-aos="slide-down"] {
  &:not(.loaded) {
    transform: translate3d(0, -150px, 0);
  }
}

[data-aos="slide-left"] {
  &:not(.loaded) {
    transform: translate3d(150px, 0, 0);
  }
}

[data-aos="fade-up"] {
  &:not(.loaded) {
    opacity: 0;
    transform: translate3d(0, 150px, 0);
  }
}

[data-aos="fade-right"] {
  &:not(.loaded) {
    opacity: 0;
    transform: translate3d(-150px, 0, 0);
  }
}

[data-aos="fade-bottom"] {
  &:not(.loaded) {
    opacity: 0;
    transform: translate3d(0, -150px, 0);
  }
}

[data-aos="fade-left"] {
  &:not(.loaded) {
    opacity: 0;
    transform: translate3d(150px, 0, 0);
  }
}

[data-aos="fade-in"] {
  &:not(.loaded) {
    opacity: 0;
  }
}

[data-aos="zoom-in"] {
  &:not(.loaded) {
    transform: scale(0);
  }
}
