.beaf-slider {
  position: relative;

  &--btn-holder {
    display: grid;
    place-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    transform: translate3d(0, 0, 0);
    z-index: 2;
    height: 100%;
    width: 5px;
    background-color: #fff;
    will-change: transform;
    pointer-events: none;
  }

  &--thumb {
    display: grid;
    place-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    padding: 0;
    cursor: pointer;

    &:hover {
      background-color: #fff;
    }
  }

  &__image {
    pointer-events: none;
    user-select: none;
    overflow: hidden;

    &--before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        max-width: unset;
      }
    }
  }

  &__range {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}
