.custom-select {
  position: relative;
  border: 1px solid #ccc;

  .option {
    padding: 5px 10px;
    cursor: pointer;
    display: block;
    line-height: 1;
    transition: 250ms color ease;

    &:not(:first-child) {
      border-top: 1px solid #ccc;
    }

    &:hover {
      color: var(--text-primary);
    }

    &--selected {
      position: relative;
      padding: 10px 30px 10px 10px;

      .icon {
        display: block;
        position: absolute;
        top: calc(50% - 14px);
        right: 8px;
        transition: 250ms transform ease;
      }
    }
  }

  &.show {
    .custom-select__options {
      transform: scale3d(1, 1, 1);
    }

    .option--selected {
      .icon {
        transform: rotate3d(0, 0, 1, -180deg);
      }
    }
  }
}

.custom-select__options {
  display: grid;
  border: 1px solid #ccc;
  position: absolute;
  top: calc(100% + 1px);
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #fff;
  transform: scaleY(0);
  transform-origin: top center;
  transition: 250ms transform ease;
  max-height: 450px;
  overflow: hidden auto;
}
