.form-group {
  label {
    margin: 0;
    cursor: pointer;
  }

  &--prepend,
  &--append {
    --btn-width: 30px;
    position: relative;

    .btn {
      position: absolute;
      top: 50%;
      padding: 0;
      transform: translateY(-50%);
      width: 30px;
      height: 25px;
    }
  }

  &--prepend {
    .btn {
      left: 0;
    }

    .form-control {
      padding-left: var(--btn-width);
    }
  }

  &--append {
    .btn {
      right: 0;
    }

    .form-control {
      padding-right: var(--btn-width);
    }
  }
}

.form-control {
  display: block;
  font-size: 13px;
  padding: 5px 10px;
  color: var(--text);
  border: 1px solid var(--divider);
  border-radius: 5px;
  width: 100%;

  &::placeholder {
    color: inherit;
  }
}
