@import "~@glidejs/glide/src/assets/sass/glide.core";

.glide--dark {
  .glide__arrow {
    svg {
      path {
        fill: #000;
      }
    }
  }
}

.glide__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  padding: 0;
  height: 110px;
  background-color: transparent;
  color: #fff;
  border: none;
  opacity: 0.7;
  transition: 250ms opacity ease;

  &--left {
    left: 0;
  }

  &--right {
    right: 0;
  }

  &:hover {
    opacity: 1;
  }
}
