.modal {
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1010;
  background-color: rgba(12, 13, 22, 0.5);
  transition: 300ms all ease;
  transform: scale3d(1, 0, 1);
  transform-origin: top center;
  will-change: transform;
  opacity: 0;

  &--slide-right {
    transform: scale3d(0, 1, 1);
    transform-origin: right center;
  }

  &--slide-bottom {
    transform: scale3d(1, 0, 1);
    transform-origin: bottom center;
  }

  &--slide-left {
    transform: scale3d(0, 1, 1);
    transform-origin: left center;
  }

  &--fade-in {
    transform: scale3d(0, 0, 1);
    transform-origin: center;
  }

  &--dark {
    .modal__content {
      background-color: transparent;
    }

    .btn--close {
      color: #fff;
    }
  }

  &.show {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.modal__content {
  background-color: #fff;
  padding: 30px;
  overflow: hidden;
}

.modal__header {
  position: relative;

  .btn--close {
    display: block;
    padding: 10px;
    margin-left: auto;
  }
}

.modal__body {
  height: 100%;
  max-height: calc(100vh - 150px);
  overflow: hidden auto;
}

@media screen and (max-width: 575px) {
  .modal__content {
    padding: 15px;
  }
}
