.quantity {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  width: 120px;

  .qty {
    height: 40px;
    width: 40px;
    text-align: center;
    -moz-appearance: textfield;
    color: var(--text-primary);
    border: 1px solid var(--primary-light);

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .btn {
    padding: 5px;
    height: 40px;
    width: 40px;

    &--qty {
      font-size: 20px;
      line-height: 1;
      font-weight: 700;
    }
  }
}
