.btn--top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  padding: 15px;
  width: 50px;
  height: 50px;
  z-index: 100;
  background-color: #000;
  color: #fff;
  opacity: 0.7;
  transition: 250ms all ease;
  transform: translate3d(100px, 0, 0);

  &.show {
    transform: translate3d(0, 0, 0);
  }
}
