.table-of-contents {
  margin-bottom: 30px;

  & > ul,
  & > ol {
    & > li {
      margin-bottom: 15px;
    }
  }

  ul,
  ol {
    margin: 0 0 20px;
    padding-left: 0;

    ul,
    ol {
      margin: 10px 0;
    }

    li {
      padding-left: 20px;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }
}
