@import "Global";

.first_fold {
  position: relative;

  h1 {
    color: white;
    font-family: var(--tfont);
    font-size: 70px;
    margin-bottom: 5px;
    text-align: center;
  }

  .content_position {
    width: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    z-index: 2;
    text-align: center;

    p {
      font-size: 20px;
      color: white;
      font-family: var(--tfont);
    }
  }

  .form_search {
    margin-top: 76px;

    .content {
      margin-top: 20px;
      text-align: center;

      p {
        font-size: 20px;
        color: white;
        font-family: var(--tfont);
      }
    }
  }

  .overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(
                    180deg, rgba(255, 210, 172, 1) 0%, rgba(144, 70, 7, 0.592874649859944) 43%);
    mix-blend-mode: multiply;
  }

  .svg_position {
    position: absolute;

    &.left {
      left: 64px;
      bottom: 61px;
    }

    &.right {
      top: 142px;
      right: 64px;
    }
  }
}

.links {
  padding-top: 80px;

  .title {
    display: flex;
    align-items: center;
    margin-bottom: 45px;

    span {
      margin-left: 20px;
      color: #2D2E33;
      font-size: 40px;
      font-family: var(--tfont);
    }
  }

  .quick-links-group {
    margin-bottom: 80px;

    .single-link {
      margin-bottom: 55px;

      .wrapper {
        display: flex;
        align-items: center;

        .image_wrapper {
          background: #0C7EE9;
          width: 77px;
          height: 77px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 21px;
        }

        .content_wrapper {
          .title {
            color: #0C7EE9;
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 0;
            font-family: var(--tfont);
          }

          .content {
            color: #8B8B8E;
            font-size: 16px;
            font-family: var(--tfont);
          }
        }
      }
    }
  }

  .top-picks-group {
    margin-bottom: 80px;

    .image_wrapper_top_picks {
      position: relative;

      img {
        border-radius: 15px;
      }

      .category {
        background-color: #0C7EE9;
        border-radius: 5px;
        height: 30px;
        display: inline-flex;
        align-items: center;
        padding: 10px;
        position: absolute;
        bottom: -15px;
        left: 15px;

        span {
          margin-left: 15px;
          color: white;
          font-size: 14px;
          font-family: var(--tfont);
        }
      }
    }

    .title_top_picks {
      h3 {
        margin-top: 30px;
        margin-bottom: 20px;
      }
    }

    .content_top_picks {
      margin-bottom: 19px;

      p {
        font-size: 16px;
        font-family: var(--tfont);
        color: #2D2E33;
        font-style: italic;
      }
    }
  }
}

.initiatives {
  background-color: #050835;
  padding: 80px 0;

  h2 {
    font-size: 40px;
    color: #FCF9F7;
    font-family: var(--tfont);
    font-weight: bold;
    margin-bottom: 42px;
    text-align: center;
  }

  .single-initiatives {
    img {
      margin-bottom: 20px;
      border-radius: 15px;
    }

    h3 {
      margin-bottom: 10px;
      font-size: 20px;
      color: #FCF9F7;
      font-family: var(--tfont);
      font-weight: bold;
    }
  }
}

.highlight {
  margin: 80px 0;

  .sponsored {
    right: 20px;
    top: 20px;
    position: absolute;
  }

  .overlay {
    background: linear-gradient(271deg, rgba(255, 255, 255, 1) 0%, rgba(123, 197, 244, 1) 100%);
    border-radius: 15px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .overlay_content {
    position: relative;
    padding-top: 115px;
    margin-left: 120px;
    padding-bottom: 119px;

    h2 {
      display: flex;
      align-items: center;

      span {
        font-size: 40px;
        color: white;
        font-family: var(--tfont);
        display: inline-block;
        margin-left: 20px;
      }

      margin-bottom: 29px;
    }

    .content {
      margin-bottom: 30px;
      max-width: 570px;

      p {
        margin-bottom: 15px;
        color: white;
        font-size: 16px;
        font-family: var(--tfont);
      }
    }
  }
}

.testemonials {
  background-color: #EAEFF5;
  padding-bottom: 80px;
}

.digital {
  padding-top: 80px;
  padding-bottom: 80px;

  .overlay {
    position: absolute;
    left: 10px;
    right: 10px;
    border-radius: 15px;
    top: 0;
    bottom: 0;
    background: linear-gradient(
                    89deg, rgba(255, 255, 255, 0) 0%, rgba(123, 197, 244, 0.5676645658263305) 43%);
  }

  .overlay_svg {
    position: absolute;
    bottom: 68px;
    left: 63px;
  }

  .content {
    position: absolute;
    right: 120px;
    top: 50%;
    max-width: 570px;
    transform: translateY(-50%);

    * {
      color: white;
    }

    h2 {
      margin-bottom: 31px;
      font-size: 40px;
      font-family: var(--tfont);
      font-weight: bold;
    }

    h3 {
      font-family: var(--tfont);
      color: white;
      display: flex;
      align-items: center;
      margin-bottom: 15px;

      span {
        margin-left: 20px;
      }
    }

    .excerpt {
      margin-bottom: 30px;

      p {
        margin-bottom: 30px;
        font-size: 16px;
        font-family: var(--tfont);
      }
    }
  }
}

.news {
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 45px;

    span {
      margin-left: 20px;
      color: #2D2E33;
      font-size: 40px;
      font-family: var(--tfont);
    }
  }

  .news-group {
    margin-bottom: 80px;

    .news-group-wrapper {
      border: 1px solid #CBCCCE;
      border-radius: 15px;
    }

    .image_wrapper_news_group {
      position: relative;

      img {
        border-radius: 15px;
      }

      .category {
        background-color: #0C7EE9;
        border-radius: 5px;
        height: 30px;
        display: inline-flex;
        align-items: center;
        padding: 10px;
        position: absolute;
        bottom: -15px;
        left: 15px;

        span {
          margin-left: 15px;
          color: white;
          font-size: 14px;
          font-family: var(--tfont);
        }
      }
    }

    .title_top_news-group {
      padding: 0 30px 24px 30px;

      h3 {
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 20px;
        font-family: var(--tfont);
      }
    }

    .content_news_group {
      margin-bottom: 19px;

      p {
        font-size: 16px;
        font-family: var(--tfont);
        color: #2D2E33;
        font-style: italic;
      }
    }
  }
}

.match {
  margin-bottom: 80px;

  .content_centered {
    display: flex;
    align-items: center;
  }

  .title {
    display: flex;
    align-items: center;
    margin-bottom: 29px;

    span {
      margin-left: 20px;
      font-family: var(--tfont);
      font-size: 40px;
      color: #2D2E33;
    }
  }

  h3 {
    font-size: 20px;
    font-family: var(--tfont);
    color: #2D2E33;
  }

  .content {
    margin-top: 15px;

    p {
      font-size: 16px;
      color: #8B8B8E;
      font-family: var(--tfont);
      margin-bottom: 30px;
    }
  }

  .more {
    margin-top: 30px;
  }

  .image_wrapper {
    position: relative;
  }

  .overlay {
    background-color: rgba(45, 46, 51, 0.39);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    svg {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.questions {
  position: relative;

  .content {
    position: absolute;
    right: 255px;
    top: 50%;
    transform: translateY(-50%);
  }
}
