.cookie {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  z-index: 1030;
  transition: 250ms transform ease;
  transform: translate3d(0, 100%, 0);

  .container {
    display: grid;
    grid-template-columns: 1fr 200px;
    gap: 10px;
    padding: 30px;
  }

  .cookie__text {
    p {
      --min-font-px: 15px;
      --min-font: 15;
      --max-font: 17;
      --max-font-px: 17px;
    }

    a {
      color: #fff;
      text-decoration: underline;
    }
  }

  .btn {
    --min-font-px: 14px;
    --min-font: 14;
    --max-font: 18;
    --max-font-px: 18px;
    display: block;
    margin-left: auto;
    padding: 10px 35px;
  }

  &.show {
    transform: translate3d(0, 0, 0);
  }
}

@media screen and (max-width: 767px) {
  .cookie {
    .container {
      grid-template-columns: 1fr;
    }
  }
}

@media screen and (max-width: 575px) {
  .cookie {
    .container {
      padding: 15px;
    }
  }
}
