#header {
  position: fixed;
  left: 0;
  right: 0;
  top: 40px;
  z-index: 1020;

  &.fixed_nav {
    background-color: #904607DD;
    top: 0;
    transition: all 0.5s ease-in;
  }
}

.toggler {
  --bcolor: #333;
  padding: 0;
  width: 25px;
  height: 25px;
  border: none;
  position: relative;
  z-index: 1001;
  background-color: transparent;
  margin-left: auto;

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    border-top: 2px solid var(--bcolor);
    width: 100%;
    transition: 550ms all ease;

    &:first-of-type {
      transform: translate3d(-50%, calc(-50% - 8px), 0);
    }

    &:nth-of-type(2) {
      transform: translate3d(-50%, -50%, 0);
    }

    &:nth-of-type(3) {
      transform: translate3d(-50%, calc(-50% + 8px), 0);
    }
  }

  &--navbar {
    &[aria-expanded=true] {
      span {
        &:first-of-type {
          transform: translate3d(-50%, 0, 0) rotate(45deg);
        }

        &:nth-of-type(2) {
          width: 1px;
        }

        &:last-of-type {
          transform: translate3d(-50%, 0, 0) rotate(-45deg);
        }
      }
    }
  }
}

.navbar {
  --link-color: var(--primary);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
}

.navbar-collapse {
  border-right: 1px solid #CBCCCE;
  margin-right: 35px;
}

.site-logo {
  margin-right: 110px;
}

.login_wrapper {
  a {
    background: #050933;
    font-size: 16px;
    padding: 30px 14px;
    border-radius: 10px;
    color: white;
  }
}

.navbar-nav {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  padding: 0;

  ul {
    list-style: none;
    padding: 0;
  }
}

.menu-item {
  &-has-children {
    position: relative;

    .sub-menu {
      transition: 300ms all cubic-bezier(0.66, 0.1, 0.58, 1);
      opacity: 0;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 25px;
      right: 0;
      width: 7px;
      height: 7px;
      border-right: 2px solid var(--link-color);
      border-bottom: 2px solid var(--link-color);
      transform: rotate(45deg);
      transition: 250ms transform ease, 250ms top ease;
    }
  }
}

.nav__link {
  display: block;
  padding-right: 30px;
  color: var(--link-color);
  font-size: 16px;
}

@media screen and (min-width: 992px) {
  .toggler--navbar {
    display: none;
  }

  .menu-item-has-children {
    &:hover {
      > .sub-menu {
        transform: scale3d(1, 1, 1);
        opacity: 1;
      }

      &::after {
        top: 30px;
        transform: rotate(-135deg);
      }
    }
  }

  .sub-menu {
    position: absolute;
    top: calc(100% - 5px);
    left: 0;
    z-index: 1000;
    background-color: #fff;
    padding: 20px 10px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
    transform: scale3d(1, 0, 1);
    transform-origin: top center;

    .menu-item {
      padding: 0 20px;
    }
  }
}

@media screen and (max-width: 991px) {
  .navbar {
    padding: 15px 0;
  }

  .navbar-collapse {
    overflow: hidden;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background: #fff;
    transform: scale3d(1, 0, 1);
    transform-origin: top center;
    transition: 250ms transform ease;

    &.show {
      transform: scale3d(1, 1, 1);
    }
  }

  .navbar-nav {
    flex-flow: column nowrap;
    align-items: center;
    padding-top: 50px;
    max-height: calc(100vh - 50px);
    overflow: hidden auto;

    & > .menu-item {
      padding: 0;
    }

    .menu-item {
      width: 100%;

      &-has-children {
        .sub-menu {
          height: 0;
          overflow: hidden;
        }

        &::before {
          content: '';
          display: block;
          position: absolute;
          width: 40px;
          height: 50px;
          top: 0;
          right: 20px;
        }

        &::after {
          top: 20px;
          right: 40px;
          width: 10px;
          height: 10px;
          transform: rotate(-45deg);
        }

        &.open {
          &::after {
            .sub-menu {
              opacity: 1;
            }

            transform: rotate(45deg);
          }
        }
      }
    }

    .nav__link {
      max-width: calc(100% - 80px);
    }
  }
}
