.socials {
  --icon-size: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--icon-size));
  grid-auto-rows: var(--icon-size);
  gap: 10px;

  a {
    display: grid;
    place-content: center;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}
