@font-face {
  font-family: 'Urbanist';
  src: url('../fonts/Urbanist-Regular.woff2') format('woff2'),
  url('../fonts/Urbanist-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urbanist';
  src: url('../fonts/Urbanist-Bold.woff2') format('woff2'),
  url('../fonts/Urbanist-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@keyframes rotate {
  from {
    transform: rotate3d(0, 0, 0, 0);
  }
  to {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

body {
  --primary-dark: #455a64;
  --primary-light: #cfd8dc;
  --primary-light-05: rgba(207, 216, 220, 0.5);
  --primary: #2D2E33;
  --text: #fff;
  --text-primary: #212121;
  --text-secondary: #757575;
  --divider: #bdbdbd;
  --accent: #536dfe;
  --tfont: 'Urbanist', sans-serif;
  font-family: var(--tfont);
  color: var(--text-primary);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
span,
.btn {
  font-size: unquote("min(calc(var(--min-font-px) + (var(--max-font) - var(--min-font)) * ((100vw - 320px) / (1920 - 320))), var(--max-font-px))");
  line-height: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  a {
    color: inherit;

    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }
}

h1 {
  --min-font-px: 28px;
  --min-font: 28;
  --max-font: 36;
  --max-font-px: 36px;
}

h2 {
  --min-font-px: 24px;
  --min-font: 24;
  --max-font: 28;
  --max-font-px: 28px;
}

h3 {
  --min-font-px: 20px;
  --min-font: 20;
  --max-font: 24;
  --max-font-px: 24px;
}

h4 {
  --min-font-px: 18px;
  --min-font: 18;
  --max-font: 20;
  --max-font-px: 20px;
}

h5 {
  --min-font-px: 16px;
  --min-font: 16;
  --max-font: 18;
  --max-font-px: 18px;
}

h6 {
  --min-font-px: 14px;
  --min-font: 14;
  --max-font: 16;
  --max-font-px: 16px;
}

a {
  color: var(--accent);
}

.screen-reader-text,
.screen-reader-response,
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.embed {
  position: relative;
  overflow: hidden;

  iframe,
  .item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  &--21by9 {
    padding-top: percentage(9 / 21);
  }

  &--16by9 {
    padding-top: percentage(9 / 16);
  }

  &--4by3 {
    padding-top: percentage(3 / 4);
  }

  &--1by1 {
    padding-top: percentage(1 / 1);
  }
}

.overflow {
  overflow: hidden;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
